@using GununNasıldı.Models.Entity;
@model List<yaziTipi>
@{
    ViewBag.Title = "Yazı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
   // var yaziIcerik = Model.ToList();

   <a>@Session["a"];</a>
    //<div>@yaziIcerik</div>
}

